<div id="entry-list">

<div class="row" style="margin-bottom:10px;">
		<input type="text" class="search form-control" placeholder="Search" />
</div>

<div class="row">
<table class="table table-striped">
	<thead>
		<tr>
			<th style="width:25%;"><span class="sort" data-sort="name">Player Name</span></th>
			<th style="width:10%;"><span class="sort" data-sort="level">Level</span></th>
			<th style="width:10%;"><span class="sort" data-sort="membership">Membership</span></th>
			<th style="width:10%;"><span class="sort" data-sort="USCF">USCF Member</span></th>
			<th style="width:25%;"><span class="sort" data-sort="games">Games Played</span></th>
			<th style="width: 10%;"><span class="sort" data-sort="rating">Club Rating</span></th>
			<th style="width: 10%;"><span class="sort" data-sort="ladder">Ladder Position</span></th>
		</tr>
	</thead>
	<tbody class="list">
	{% for player in site.members %}
		<tr>
			<td class="name">{{ player.member-name }}</td>
			<td class="level">{{ player.level }}</td>
			<td class="membership">{{ player.membership }}</td>
			<td class="USCF">{{ player.USCF }}</td>
			<td class="games">{{ player.games | array_to_sentence_string }}</td>
			<td class="rating">{{ player.rating }}</td>
			<td class="ladder">{{ player.ladder }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

</div>


<script type="text/javascript">

var options = {
  valueNames: ['name', 'level', 'membership', 'USCF', 'games', 'rating', 'ladder']
};

var entryList = new List('entry-list', options);

</script>
